.carritoVacio{
  height: calc(90vh - 4rem);
  @include flex(column, nowrap, center, center);

  .vacioContainer{
    @include flex(column, nowrap,space-around, center);
    width: 80%;
    height: 40%;
    background-color: rgb(215, 215, 215);
    border-radius: 25px;
    font-size: 26px;

    .a{
      background-color: aqua;
      border-radius: 25px;
      padding: 10px 15px;
    }
  }
}

.cartContainer {
  height: calc(90vh - 4rem);
  @include flex(column, wrap, center, center);

  .cart {
    @include flex(row, wrap, center, center);
    background-color: rgb(215, 215, 215);
    width: 80%;
    border-radius: 25px;
    overflow: hidden;

    .cartItem {
      @include flex(row, nowrap, space-between, center);
      padding: 0 10px;
      background-color: bisque;
      width: 30%;
      height: 200px;
      margin: 10px 20px;
      border-radius: 25px;

      .item{
        td{
          margin: 0 10px;
        }
      }

      img {
        width: 150px;
      }

      svg {
        width: 30px;
      }
    }

    .clearCart {
      @include flex(row, nowrap, space-around, center);
      background-color: aqua;
      height: 5rem;
      width: 100%;

      h1 {
        color: #fff;
        font-size: 22px;
      }

      button {
        background-color: azure;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 25px;
        font-size: 22px;

        &:hover {
          background-color: rgb(32, 207, 114);
        }
      }
    }
  }
}
