* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  font-family: Arial, Helvetica, sans-serif;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.4em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  width: 100% t;
}
.counter .minus {
  width: 20px;
  color: red;
  cursor: pointer;
}
.counter .plus {
  width: 20px;
  color: green;
  cursor: pointer;
}
.counter .numberCount {
  margin: 0 30px;
}

.addToCart {
  margin: 10px auto;
  background-color: aquamarine;
  padding: 5px;
  border-radius: 25px;
  cursor: pointer;
}

.cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: auto;
}
.cardsContainer .card {
  width: 20%;
  max-width: 50%;
  margin: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 8px 5px lightgray;
          box-shadow: 0 0 8px 5px lightgray;
  border-radius: 10px;
  font-weight: bold;
  overflow: hidden;
}
.cardsContainer .card-brand {
  text-align: center;
  font-size: 1.3rem;
  margin: 10px 0;
}
.cardsContainer .card-img {
  width: 100%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.cardsContainer .card-name {
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
.cardsContainer .card-price {
  text-align: center;
  margin-bottom: 10px;
}
.cardsContainer .card-stock {
  text-align: center;
  background-color: aquamarine;
}

.nav {
  background-color: #59FCFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  font-size: 1.3rem;
}
.nav .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}
.nav .brand svg {
  width: 20px;
}
.nav .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .pages li {
  margin: 0 5px;
}
.nav .pages li a {
  padding: 7px 12px;
}
.nav .pages li a:hover {
  background-color: #30BFC2;
  border-radius: 50px;
}
.nav button {
  background-color: #127475;
  padding: 5px 10px;
  border-radius: 50px;
}
.nav .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

body {
  background-color: rgb(240, 240, 240);
}